.app {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #f8f9fa;
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}

.articles-list {
  //padding: 0rem 8rem;
}

.article {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  cursor: pointer;

  .headline {
    font-size: 1rem;    
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1rem 1.25rem;
  }

  .snippet {
    font-size: 0.8rem;
    font-weight: 400;
    display: flex;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    padding: 1rem 1.25rem;
  }
}

.search-box {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
}




